html,body {
  width: 400px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app button{
  border: none;
  padding: 1rem;
  margin: 1rem;
  color: rgb(219, 189, 21);
  font-weight: bold;
  font-size: 20px;
  background-color: cadetblue;
  border-radius: 5px;
  cursor: pointer;
}